<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/chatPage.css">
</head>

<body>
  <div class="container-fluid d-flex h-100">
    <div class="row flex-fill">
      <div class="col-3 bg-light border-right p-0">
        <div class="d-flex flex-column h-100">
          <div class="users-list">
            <h5 class="p-3">Users</h5>
            <div class="p-3">
              <input type="text" class="form-control mb-2" id="userSearchInput" placeholder="Search Users...">
              <button class="btn btn-secondary" id="userSearchButton">Search</button>
            </div>
            <ul class="list-group list-group-flush flex-grow-1" id="usersList" style="overflow-y: auto;">
              <!-- Users will be appended here -->
            </ul>
          </div>
          <div class="groups-list">
            <h5 class="p-3">Groups</h5>
            <div class="p-3">
              <input type="text" class="form-control mb-2" id="groupSearchInput" placeholder="Search Groups...">
              <button class="btn btn-secondary" id="groupSearchButton">Search</button>
            </div>
            <ul class="list-group list-group-flush flex-grow-1" id="groupList" style="overflow-y: auto;">
              <!-- Groups will be appended here -->
            </ul>
          </div>
          <div class="create-group-button p-3">
            <button class="btn btn-primary" id="createGroupButton">Create Group</button>
          </div>
        </div>
      </div>
      <div class="col-9 d-flex flex-column">
        <div class="chat-container flex-grow-1 d-flex flex-column">
          <div class="chat-header border-bottom p-3">
            <h4 id="chatName">Chat</h4>
          </div>
          <div class="chat-body flex-grow-1 p-3" id="chatBody">
            <!-- Messages will be appended here -->
          </div>
          <div class="chat-footer border-top p-3">
            <div class="input-group">
              <input type="text" class="form-control" id="messageInput" placeholder="Type a message...">
              <div class="input-group-append">
                <button class="btn btn-primary" id="sendButton">Send</button>
              </div>
            </div>
            <div class="input-group mt-2">
              <input type="file" class="form-control-file" id="fileInput">
              <div class="input-group-append">
                <button class="btn btn-secondary" id="uploadButton">Upload</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Create Group Popup -->
  <div class="create-group-popup" id="createGroupPopup" style="display: none;">
    <h5>Create Group</h5>
    <form id="createGroupForm">
      <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" class="form-control" id="groupName" required>
      </div>
      <div class="form-group">
        <label for="groupMembers">Select Members</label>
        <div id="groupMembers" class="checkbox-group">
          <!-- User checkboxes will be dynamically populated here -->
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create Group</button>
      <button type="button" class="btn btn-secondary" id="cancelCreateGroupButton">Cancel</button>
    </form>
  </div>

  <!-- Edit Group Popup -->
  <div class="edit-group-popup" id="editGroupPopup" style="display: none;">
    <h5>Edit Group</h5>
    <div id="editGroupActions">
      <button class="btn btn-primary" id="addUserButton">Add User</button>
      <button class="btn btn-danger" id="removeUserButton">Remove User</button>
      <button class="btn btn-secondary" id="addAdminButton">Add Admin</button>
    </div>
    <div id="editGroupMembers" class="checkbox-group" style="display: none;">
      <!-- User checkboxes will be dynamically populated here -->
    </div>
    <button type="button" class="btn btn-secondary" id="cancelEditGroupButton">Cancel</button>
  </div>


  
<script src="/socket.io/socket.io.js"></script>
  <script src="/js/chatPage.js"></script>
 
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>